# ========================
# SERVER CONFIG
# ========================
NODE_ENV=production
PORT=8080

# ========================
# CLOUD SQL (MySQL - Cloud Run Socket)
# ========================
DB_USER=root
DB_PASSWORD=UZ@hLm9k8JzK66Sv
DB_NAME=bus_booking_system
DB_SOCKET_PATH=/cloudsql/paid-pro-497812:europe-west1:free-trial-first-project

# ========================
# JWT AUTH
# ========================
JWT_SECRET=your_super_secret_jwt_key
JWT_REFRESH_SECRET=your_refresh_secret
JWT_EXPIRES_IN=96h
JWT_REFRESH_EXPIRES_IN=7d

# ========================
# EMAIL (SMTP Gmail)
# ========================
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=bikramdhami334@gmail.com
SMTP_PASS=ehcxnifihmhqpgcb
EMAIL_FROM=noreply@busbooking.com

# ========================
# FRONTEND
# ========================
FRONTEND_URL=https://your-frontend-domain.com
BACKEND_URL=https://your-cloud-run-url.run.app

# ========================
# SEAT LOCK SYSTEM
# ========================
SEAT_LOCK_MINUTES=5

# ========================
# ESEWA (TEST MODE)
# ========================
ESEWA_MERCHANT_CODE=EPAYTEST
ESEWA_SECRET_KEY=8gBm/:&EnhH.1/q
ESEWA_PAYMENT_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
ESEWA_VERIFICATION_URL=https://rc-epay.esewa.com.np/api/epay/transaction/status/
ESEWA_SUCCESS_URL=https://your-cloud-run-url.run.app/api/payments/success
ESEWA_FAILURE_URL=https://your-cloud-run-url.run.app/api/payments/failure